<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raydev.quran">
    <application>
        <activity
            android:name=".ui.list_ayat.DetailSurahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.list_surah.QuranActivity"
            android:exported="false" />
    </application>

</manifest>