<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.rctiplus.main.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">

            <intent-filter>
                <data android:host="muslimapp.com"
                    android:scheme="https"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="muslimapp.com"
                    android:scheme="https"
                    android:pathPrefix="/prayer"/>
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>
    </application>
</manifest>